{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row mt-5 mb-5">
        <h3 class="text-center text-muted mb-3">Lista de usuários cadastrados.</h3>
        <p class="text-right">
            <a href="{{url_for('add_user')}}" class="btn btn-success"> + Novo Usuário</a>
        </p>
        <table class="table no-border">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for row in datas %}
                    <tr>
                        
                        <td>{{row.ID}}</td>
                        <td>{{row.Nome}}</td>
                        <td>{{row.Email}}</td>
                        <td>{{row.Senha}}</td>
                        <td>
                            <a href="{{url_for('edit_user',id=row.ID)}}" class="btn btn-primary">Editar</a>
                        </td>
                        <td><a href="{{url_for('delete_user',id=row.ID)}}" class="btn btn-danger" onclick="return confirm('Você deseja excluir este membro?')">Deletar</a></td>
                    </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}