{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>Editar Membro</h3>
        <form action="{{url_for('edit_user',id=datas.ID)}}" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" required class="form-control" value="{{datas.Nome}}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required class="form-control" value="{{datas.Email}}">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="text" name="senha" id="senha" required class="form-control" value="{{datas.Senha}}">
            </div>
            <input type="submit" value="Confirmar" class="btn btn-secondary">
        </form>
    </div>
</div>
{% endblock %}