{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <h3> Adicionar Membro </h3>
            <form action="/add" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" name="nome" id="nome" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="pai">Pai</label>
                                <input type="text" name="pai" id="pai" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="mae">Mãe</label>
                                <input type="text" name="mae" id="mae" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="data_nasc">Data de Nascimento</label>
                                <input type="date" name="data_nasc" id="data_nasc" required class="form-control" placeholder="dd-mm-yyyy" value="" min="1900-01-01" max="2100-12-31">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="estado_civil">Estado Civil</label>
                                <input type="text" name="estado_civil" id="estado_civil" required class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <input type="text" name="cpf" id="cpf" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="rg">RG</label>
                                <input type="text" name="rg" id="rg" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="setor_atual">Setor Atual</label>
                                <input type="text" name="setor_atual" id="setor_atual" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="igreja_atual">Igreja Atual</label>
                                <input type="text" name="igreja_atual" id="igreja_atual" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="setor_anterior">Setor Anterior</label>
                                <input type="text" name="setor_anterior" id="setor_anterior" required class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="igreja_anterior">Igreja Anterior</label>
                                <input type="text" name="igreja_anterior" id="igreja_anterior" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="batizado_com_espirito_santo">Batizado com Espirito Santo</label>
                                <select class="form-select" aria-label="Default Select Example" name="batizado_com_espirito_santo" id="batizado_com_espirito_santo">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="escolaridade">Escolaridade</label>
                                <input type="text" name="escolaridade" id="escolaridade" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="profissao">Profissão</label>
                                <input type="text" name="profissao" id="profissao" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="batizado">Batizado nas águas</label>
                                <select class="form-select" aria-label="Default Select Example" name="batizado" id="batizado">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="data_batismo">Data do Batismo</label>
                                <input type="date" name="data_batismo" id="data_batismo" required class="form-control" placeholder="dd-mm-yyyy" value="" min="1910-01-01" max="2100-12-31">
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="igreja_de_batismo">Igreja de Batismo</label>
                                <input type="text" name="igreja_de_batismo" id="igreja_de_batismo" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="admitido_por">Admitido por</label>
                                <select class="form-select" aria-label="Default Select Example" name="admitido_por" id="admitido_por">
                                    <option value="Batismo">Batismo</option>
                                    <option value="Carta">Carta</option>
                                    <option value="Aclamação">Aclamação</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="data_da_consagracao">Data da Consagração</label>
                                <input type="date" name="data_da_consagracao" id="data_da_consagracao" required class="form-control" placeholder="dd-mm-yyyy" value="" min="1910-01-01" max="2100-12-31">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="data_da_apresentacao">Data da Apresentação</label>
                                <input type="date" name="data_da_apresentacao" id="data_da_apresentacao" required class="form-control" placeholder="dd-mm-yyyy" value="" min="1910-01-01" max="2100-12-31">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="cargo_na_igreja">Cargo/Função</label>
                                <select class="form-select" aria-label="Default Select Example" name="cargo_na_igreja" id="cargo_na_igreja">
                                    <option value="Pastor">Pastor</option>
                                    <option value="Presbítero">Presbítero</option>
                                    <option value="Lider">Lider</option>
                                    <option value="Coordenador">Coordenador</option>
                                    <option value="Evangelista">Evangelista</option>
                                    <option value="Diácono">Diácono</option>
                                    <option value="Co-Pastor">Co-Pastor</option>
                                    <option value="Cooperador">Cooperador</option>
                                    <option value="Secretário">Secretário</option>
                                    <option value="Músico">Músico</option>
                                    <option value="Membro">Membro</option>
                                    <option value="Regente">Regente</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label for="endereco">Endereço</label>
                                <input type="text" name="endereco" id="endereco" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="bairro">Bairro</label>
                                <input type="text" name="bairro" id="bairro" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="cidade">Cidade</label>
                                <input type="text" name="cidade" id="cidade" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <input type="text" name="estado" id="estado" required class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="cep">CEP</label>
                                <input type="text" name="cep" id="cep" required class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <input type="tel" name="telefone" id="telefone" required class="form-control">
                            </div>
                        </td>
                        
                        <td>
                            <div class="form-group">
                                <label for="tem_cartao">Tem Cartão</label>
                                <select class="form-select" aria-label="Default Select Example" name="tem_cartao" id="tem_cartao">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="foto">Foto</label>
                                <input type="file" name="foto" id="foto" required class="form-control">
                            </div>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Adicionar" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}