{% extends 'layout.html' %}
{% block body %}
<h1>Gerar relatório</h1>
<div class="row">
    <div class="col-6 mx-auto">
        <h3> Gerar relatório </h3>
        <form action="{{url_for('list_report',id=datas.ID)}}" method="post">
            <div class="form-group mt-3">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" required class="form-control">
            </div>
            <div class="form-group mt-3">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required class="form-control">
            </div>
            <div class="form-group mt-3">
                <label for="senha">Senha</label>
                <input type="text" name="senha" id="senha" required class="form-control">
            </div>
            <input type="submit" value="Adicionar" class="btn btn-primary mt-3">
        </form>
    </div>
</div>
{% endblock %}